<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="authy-desktop" version="2.2.0"/>
	<package id="steam-client" version="2.10.91.92"/>
	<package id="telegram" version="3.7.3"/>
	<package id="bitwarden" version="2022.5.1"/>
	<package id="microsoft-windows-terminal" version="1.13.11431.0"/>
	<package id="epicgameslauncher" version="1.1.298.0"/>
	<package id="googlechrome" version="102.0.5005.115"/>
	<package id="etcher" version="1.7.9"/>
	<package id="ccleaner" version="5.92.9652"/>
	<package id="cyberduck.install" version="6.4.6.27773"/>
	<package id="geforce-experience" version="3.25.1.27"/>
	<package id="virtualbox" version="6.1.34"/>
	<package id="veracrypt" version="1.25.9"/>
	<package id="icloud" version="7.21.0.23"/>
	<package id="discord" version="1.0.9004"/>
	<package id="vscode" version="1.68.0"/>
</packages>